.btn, .Link{
  border: none;
  border-radius: 5px;
  background: gray;
  color: white;
  margin: auto 5px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;

}

.btn-success{
  background-color: rgb(34, 226, 34);
}

.btn-danger{
  background-color: rgb(226, 47, 34);
}
.apptitle{
  margin: auto;
  justify-content: center;
  display: flex;
  font-size: 5vmin;
  font-weight: bold;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 1vmin;
  background: #717171;
}